.container-fluid{
    padding: 2px;
    overflow: hidden;
    margin-top: 5px;
    color: #0D42E4;

}
.sign{
    border-radius: 10px;
    text-align: center;
    background: darkviolet;
    margin: 20px;
    color: red;overflow: hidden;
}
.sayhello{
    text-align: center;
    padding: 200px;
}
a:link{
    text-align: center;
    text-decoration: none;
    color: #54b33e;
}
a:visited{
    text-align: center;
    text-decoration: none;
    color: mediumvioletred;
}
a:hover{
    text-align: center;
    color: red;
}
img{
    overflow: hidden;
    max-width: 100%;
    color: brown;
}
.col-2{
    overflow: hidden;
    margin: auto;
    padding: 5px;
    text-align: center;
}
p{
    text-align: center;
    color: #54b33e;
}
h2{
    text-align: center;
    color: maroon;
}
body{
    background: blue;
}
.form{
    text-align: center;
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: white;
    font-family: "Arial Black";
    border-radius: 5px;
    font-weight: lighter;
    font-size: smaller;
    overflow: hidden;
}
a{
    color: red;
}
h3{
    font-family: "Arial Black";
    color: #0D42E4;
}
.footer{
    overflow: hidden;
    text-align: center;
}
img{
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
body{
    background-image: url("images/hellochef6.jpg");
}













